/* Menu fragment */
.navbar-brand {
    height: 60px;
    padding-top: 5px;
    padding-left: 30px;
}

.navbar-nav>li>a {
    padding: 20px;
}

.language-form{
    padding-top: 6px;
}


/* Home page */
.jumbotron img {
    padding-right: 50px;
}

.jumbotron .learn-more {
    margin-top: 20px;
}


/* Articles page */
.article-table {
    border-collapse: collapse;
}

.article-table td, .article-table th {
    border: 1px solid green;
    padding: 2px 5px;
}

.menu-label {
    color: #aaa;
}
