<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head('>Add Project')"></head>
<body>
<div th:replace="fragments/menu::menu(${path})"></div>
<div class="container">
    <h3>Add Project</h3>
    <form method="post" th:action="@{/projects/project-form}" th:object="${project}">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" th:field="*{name}"
                   placeholder="Enter project name ..." class="form-control"/>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errors alert alert-danger">
                Incorrect name
            </p>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input id="description" type="text" th:field="*{description}"
                   placeholder="Enter project description ..." class="form-control"/>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="errors alert alert-danger">
                Incorrect description
            </p>
        </div>
        <div class="form-group">Budget</label>
            <input id="budget" type="text" th:field="*{budget}"
                   placeholder="Enter project budget ..." class="form-control"/>
            <p th:if="${#fields.hasErrors('budget')}" th:errors="*{budget}" class="errors alert alert-danger">
                Incorrect budget
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div th:replace="fragments/foot::foot"></div>
</body>
</html>
