<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('All Posts')}" />
<body>
<div th:replace="~{fragments/menu :: menu(${path},'')}"></div>
<div class="container">
<h1>All Posts</h1>
<table>
    <thead>
    <th>Number</th>
    <th>Title</th>
    <th>Content</th>
    <th>Tags</th>
    <th>Created</th>
    <th>Modified</th>
    <th>Image</th>
    </thead>
    <tbody>
    <tr th:each="row, rowStat: ${articles}">
        <td th:text="${rowStat.index + 1}"/>
        <td th:text="${row.title}"/>
        <td th:text="${row.content}"/>
        <td th:text='${#strings.listJoin(row.tags, ", ")}'/>
        <td th:text='${#temporals.format(row.created, "dd.MM.YYYY HH:mm:ss")}'></td>
        <td th:text='${#temporals.format(row.modified, "dd.MM.YYYY HH:mm:ss")}'></td>
    </tr>
    </tbody>
</table>
</div>
<div th:replace="~{fragments/foot :: foot}"></div>
</body>
</html>
