<div th:fragment="foot" xmlns:th="http://www.thymeleaf.org">
	<script type="text/javascript" src="/webjars/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace(window.location.pathname + '?lang=' + selectedOption);
            }
        });
    });
    </script>
</div>