h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.learn-more {
    font-size: 2em;
}

#logo-container i.brand-logo {
    font-size: 2em;
}


nav ul a {
    font-size: 1.3rem;
}

.card {
    height: 500px;
}

.card .card-image img {
    height: 350px;
}

.card .card-content {
    height: 150px;
}

nav a.active {
    font-weight: bold;
}

.errors {
    padding: 10px 20px;
    color: #e51c23;
    background-color: lightpink;
    border: 1px solid #e51c23;
    border-radius: 5px;
}

.img-thumbnail {
    height: 100px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}
