<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('All Posts')}" />
<body>
<h1>All Posts</h1>
<table>
    <thead>
    <th>Number</th>
    <th>Title</th>
    <th>Content</th>
    <th>Tags</th>
    <th>Created</th>
    <th>Modified</th>
    <th>Image</th>
    </thead>
    <tbody>
    <tr th:each="row, rowStat: ${posts}">
        <td th:text="${rowStat.index + 1}"/>
        <td th:text="${row.title}"/>
        <td th:text="${row.content}"/>
        <td th:text='${#strings.listJoin(row.tags, ", ")}'></td>
        <td th:text='${#temporals.format(row.created, "dd.MM.YYYY")}'></td>
        <td th:text='${#temporals.format(row.modified, "dd.MM.YYYY")}'></td>
        <td th:text='${row.imageUrl}'></td>
        <td />
        <td />
        <td />
    </tr>
    </tbody>
</table>

</body>
</html>
