<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('All Posts')">
</head>
<body>
<div th:replace="fragments/menu :: menu(${path})"></div>
<div class="container">
    <h3>Posts List</h3>
    <table>
        <thead>
        <th>Number</th>
        <th>Title</th>
        <th>Content</th>
        <th>Tags</th>
        <th>Created</th>
        <th>Modified</th>
        <th>Image</th>
        </thead>
        <tbody>
        <tr th:each="row, rowStat : ${posts}">
            <td th:text="${rowStat.index + 1}"></td>
            <td th:text="${row.title}"></td>
            <td th:text="${row.content}"></td>
            <td th:text="${row.tags}"></td>
            <td th:text="${row.created}"></td>
            <td th:text="${row.modified}"></td>
            <td>
                <img class="img-thumbnail" th:src="${row.imageUrl}" >
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/foot :: foot"></div>
</body>
</html>
