<nav th:fragment="menu(path, currentUserName)" class="light-blue lighten-1" role="navigation" xmlns:th="http://www.thymeleaf.org">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><i class="brand-logo material-icons">library_books</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a th:class="${path == '/'}? 'active' : ''" href="/">All Posts</a></li>
            <li><a th:class="${path == '/article-form'}? 'active' : ''" href="/article-form">Add Post</a></li>
            <form style="display:inline" th:action="@{/logout}" method="post">
                <button type="submit" name="submit" class="btn waves-effect waves-light blue">Logout</button>
            </form>
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li><a th:class="${path == '/'}? 'active' : ''" href="/">All Posts</a></li>
            <li><a th:class="${path == '/article-form'}? 'active' : ''" href="/article-form">Add Post</a></li>
            <form style="display:inline" th:action="@{/logout}" method="post">
                <button type="submit" name="submit" class="btn waves-effect waves-light blue">Logout</button>
            </form>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
